<main class="container">
  <div class="page-header">
    <div class="well text-center">
      <h1>About Me</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <blockquote>
        Hi, I'm Kash, a junior web developer based in London.
      </blockquote>

      <div id="aboutmepara">
        <p>I am an engineering graduate with a background in sales.  With technology having a bigger and bigger impact on our lives, as well as a having a fascination and interest in computers and technology from an early age, I decided to pursue a career in coding to not only feel a sense of joy from my work, but also to make an impact in areas I am very passionate about, including sports, energy and healthcare.</p> </br>
        <p>I completed the Web Development Immersive bootcamp at General Assembly in London, focussing on the Javascript Stack and Ruby on Rails. I was probably the only person on the course who preferred JavaScript. </br>
        I’m looking to further develop my skills and build on what I’ve learned. Whether it’s a start up or established company, I’m looking to work on interesting projects with like-minded individuals.</p>
      </div>
    </div>

    <div class="col-md-5 col-md-offset-1">
      <img src="../images/linkedin.jpg" class="img-thumbnail">
    </div>
  </div>

  </br>

  <div class="row">
    <div class="col-md-12">
      <p id="para">Since the General Assembly course finished, I've been working on my own to improve my skills and learn different frameworks in depth. Ideally I would be looking for a role using JavaScript on the front and back end. I'm a big fan of AngularJS and Bootstrap (having used them to build this site).</p>

      </br>

      <p id="para1">When I'm not sat in front of a computer, I'm either cycling, swimming, playing football (Arsenal fan) or boxing. This is all nicely balanced with pizza, Nandos, Snickers ice cream and a lot of Lucozade. I have a rare talent for remembering entire scripts from my favourite films, so I'd like to give acting a go if I ever get bored of coding (Something tells me I would have been great as The Joker).</p>
    </div>
  </div>
</main>

<div id="skillstab">
  <h2 class="text-center">Skills</h2>

  <div class="row">
    <div class="col-md-6 text-center">
      <i class="fa fa-desktop fa-5x"></i>
      <h2 class="text-center">Frontend</h2></br>
      <h4>HTML5 & CSS3</h4>
      <h4>JavaScript</h4>
      <h4>jQuery</h4>
      <h4>AngularJS</h4>
      <h4>Bootstrap</h4>
      
    </div>

    <div class="col-md-6 text-center">
      <i class="fa fa-database fa-5x"></i>
      <h2 class="text-center">Backend</h2></br>
      <h4>Node.js & Express.js</h4>
      <h4>MongoDB</h4>
      <h4>Rails/Sinatra</h4>
      <h4>PostgreSQL</h4>
      
    </div>
  </div>
</div>

