<main class="container">
  <div class="page-header">
    <div class="well text-center">
      <h1>Contact</h1>
    </div>
  </div>

  <h2 class="text-center">Get in touch with me either directly or through social media</h2>

  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="row">

    <div id="phone" class="col-md-6 text-center">
      <div id="phonewell" class="well">
        <i id="faphone" class="fa fa-phone fa-3x"></i>
        <h2>07718139899</h2>
      </div>
    </div>

    <div id="email" class="col-md-6 text-center">
      <div id="emailwell" class="well">
        <a href="mailto:kjavaid22@gmail.com">
          <i class="fa fa-envelope fa-3x"></i></a>
        <h2>kjavaid22@gmail.com</h2>
      </div>
    </div>

  </div>

   <div class="row">

    <div id="socialmedia" class="col-md-6 col-md-offset-3 text-center">
      <div id="socialmediawell" class="well">        
        <a href="https://www.facebook.com/kashif.javaid.56" target="_blank" class="btn">
          <i class="fa fa-facebook fa-3x"></i>
        </a> 
        <a href="https://www.instagram.com/kashj22/" target="_blank" class="btn">
          <i class="fa fa-instagram fa-3x"></i>
        </a>
        <a href="https://twitter.com/KashJ22" target="_blank" class="btn">
          <i class="fa fa-twitter fa-3x"></i>
        </a>
        <a href="https://www.linkedin.com/in/kashifjavaid22" target="_blank" class="btn">
          <i class="fa fa-linkedin fa-3x"></i>
        </a>
        <a href="https://github.com/kashj22" target="_blank" class="btn">
          <i class="fa fa-github fa-3x"></i>
        </a>
      </div>
    </div>

  </div>
</main>


    

  
    


