<main class="container">
  <div class="page-header">
    <div class="well" style="background-color:blue">
      <h1 class="text-center">My Portfolio</h1>
    </div>
  </div>

  <p><strong>Below  is a list of projects I completed while I was on the General Assembly course.</strong></p>

  <div class="row">

    <div class="col-md-4 text-center">
      <div id="memorygame">
        <a href="https://stark-retreat-1866.herokuapp.com/" target="_blank">
          <img class="img-responsive img-thumbnail" src="../images/memorygame.png">
        </a>
        <h4>JavaScript, HTML & CSS: Memory Game</h4>
        <p>My First Project at GA. I created a memory game using JavaScript, HTML and CSS</p>
        <a href="https://github.com/kashj22/WDI-PROJECT1" target="_blank" class="btn btn-primary btn-block">
          <i class="fa fa-github fa-2x" aria-hidden="true"></i>
        </a>  
      </div>
    </div>

    <div class="col-md-4 text-center">
      <div id="shishami">
        <a href="https://shishami.herokuapp.com/" target="_blank">
          <img class="img-responsive img-thumbnail" src="../images/shishami.png">
        </a> 
        <h4>Ruby on Rails: Shisha App</h4>
        <p>An app created with Ruby on Rails that would identify shisha cafes by location</p>
        <a href="https://github.com/kashj22/WDI-PROJECT2" target="_blank" class="btn      btn-primary btn-block">
          <i class="fa fa-github fa-2x" aria-hidden="true"></i>
        </a>  
      </div>
    </div>

    <div class="col-md-4 text-center">
      <div id="flicpic">
        <a href="http://kashj22.github.io/flicpic_frontend/" target="_blank"> 
          <img class="img-responsive img-thumbnail" src="../images/flicpic2.png">
        </a>
        <h4>MEAN Stack: Movie Poster App</h4>
        <p>A movie poster app created with the MEAN Stack</p>
        <a href="https://github.com/kashj22/flicpic_frontend" target="_blank" class="btn btn-primary btn-block">
          <i class="fa fa-github fa-2x" aria-hidden="true"></i>
        </a>  
      </div>
    </div>


  </div>

  <hr>

  <div class="row">
    
    <div class="col-md-4 col-md-offset-2 text-center">
      <div id="cyclevision">
        <a href="http://panox.github.io/cyclevision/" target="_blank">
          <img class="img-responsive img-thumbnail" src="../images/cyclevision.png">
        </a> 

        <h4>JavaScript and NodeJS: CycleVision</h4>
        <p>A group project at GA. We created an app for cyclists. Instagram meets Google Maps</p>
        <a href="https://github.com/panox/cyclevision" target="_blank" class="btn btn-primary btn-block">
          <i class="fa fa-github fa-2x" aria-hidden="true"></i>
        </a> 
      </div>
    </div>

    <div class="col-md-4 text-center">
      <div id="battleships">
        <a href="" target="_blank">
          <img class="img-responsive img-thumbnail" src="../images/tanks.png">
        </a> 
        <h4>JavaScript: Tanks</h4>
        <p>A 24hr hackathon at GA. Created a tanks shoot-em-up game</p>
        <a href="https://github.com/Adam-Greenfield/Hackathon" id="facycle" target="_blank" class="btn btn-primary btn-block">
          <i class="fa fa-github fa-2x" aria-hidden="true"></i>
        </a> 
      </div>
    </div>

  </div>
</main>